@use '../../app/_colors' as colors;

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.toolsInnerContainer {
    display: flex;

    .tools {
        display: flex;
        animation: 25s slide infinite linear;

        &.paused {
            animation-play-state: paused;
        }

        .tool {
            padding: 20px;
            box-sizing: border-box;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            -webkit-tap-highlight-color: transparent;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            cursor: pointer;

            svg {
                max-width: 100%;
                height: 150px;

                &.adjustedSVG {

                    path {
                        fill: colors.$black;
                    }
                }
            }

            .toolText {
                height: 20px;
                width: 100%;
                overflow: hidden;
                position: relative;

                p {
                    position: absolute;
                    bottom: -20px;
                    width: 100%;
                    text-align: center;
                    transition: all 0.2s;
                    color: colors.$black;
                    
                    &::selection {
                        background: none;
                    }
                }
            }

            &.selected {

                .toolText {

                    p {
                        bottom: 0px;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .toolsInnerContainer {

        .tools {

            .tool {
                
                svg {
                    height: 80px;
                }
            }
        }
    }
}
